---
import Layout from "@/layouts/Layout.astro"
import { Card } from "@/components/ui/card"
import type { Game } from "@/types/game"
import { Carrusel } from "@/components/carrusel"
import { Button } from "@/components/ui/button"
import { ReviewForm } from "@/components/reviewForm"
import { AddToLibrary } from "@/components/addToLibrary"
import { UserReviews } from "@/components/reviews"

const { id } = Astro.params
const base_url = import.meta.env.PUBLIC_BASE_URL
const response = await fetch(`${base_url}/api/games/gameId.json?id=${id}`)
const data: Game = await response.json()

const urlsArray = data.Screenshots.split(",")
---

<Layout title="Tienda">
	<Card className="h-full flex-1 overflow-y-auto p-3">
		<div class="flex flex-col justify-around gap-2 pt-5 md:flex-row">
			<!-- main -->
			<div class="order-2 flex w-full flex-col space-y-5 md:order-1 md:w-[800px]">
				<Carrusel client:load urls={urlsArray} />
				<div class="w-full flex-row">
					<Button disabled client:load variant={"secondary"}> Añadir a la lista de deseos</Button>
					<AddToLibrary client:load added={false} id={id} />
				</div>
				<h1 class="">Reseñas</h1>
				<ReviewForm client:load id={id} />
				<UserReviews client:load id={id} />
			</div>
			<!-- descripción -->
			<div class="order-1 flex w-full flex-col md:order-2 md:w-[450px]">
				<img
					transition:name={`imagen-juego ${data.AppID}`}
					src={data["Header image"]}
					alt="videojuego"
					width="450"
					height="400"
				/>
				<div class="flex flex-row justify-between">
					<h1 transition:name={`nombre-juego ${data.AppID}`} class="pt-4">{data.Name}</h1>
					<p transition:name={`game-score ${data.AppID}`} class="pt-4 md:pl-4 md:pt-0">
						{data["Metacritic score"]}
					</p>
				</div>
				<h2 class="line-clamp-6 pt-4">{data["About the game"]}</h2>
			</div>
		</div>
	</Card>
</Layout>
