---
import { Card } from "@/components/ui/card"
import AsideMenuItem from "@/components/AsideMenuItem.astro"
import type { User } from "@/types/user"
import { Plus } from "lucide-react"
import { Button } from "@/components/ui/button"
import { CreateChat } from "@/components/create-chat"
import { Gamepad2, Search, User2, Library } from "lucide-react"
import { SideSearch } from "@/components/SideSearch"
import { UserMenu } from "@/components/UserAsideMenu"

import { Image } from "astro:assets"
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)
const iniciado = session ? true : false
const response = await fetch(`http://localhost:4321/api/chats/chats.json`)
const users = await response.json()
---

<nav class="flex flex-1 flex-col gap-2">
	<Card>
		<AsideMenuItem href="/">
			<Gamepad2 />
			GameLibrary
		</AsideMenuItem>
		<AsideMenuItem href="/search">
			<Search />
			Buscar
		</AsideMenuItem>

		<!-- Menu del usuario -->
		<UserMenu client:load data={iniciado}>
			{
				session ? (
					<p> {session.user?.name}</p>
				) : (
					<AsideMenuItem slot="usuario">
						<User2 /> User{" "}
					</AsideMenuItem>
				)
			}
			<AsideMenuItem slot="trigger">
				{
					session ? (
						<Image
							src={session.user?.image as string}
							alt={session.user?.name as string}
							class={"rounded-full"}
							width={24}
							height={24}
							decoding="async"
							loading="eager"
						/>
					) : (
						<User2 />
					)
				}
				{session ? <p> {session.user?.name}</p> : <p id="login-button"> User </p>}
			</AsideMenuItem>
			<p id="logout-button" slot="logout">Logout</p>
		</UserMenu>
		<!-- Menu del usuario -->
	</Card>
	<Card client:load>
		<AsideMenuItem>
			<div class="flex w-full justify-between">
				<p class="flex items-center">mensajes directos</p>
				<CreateChat client:load />
			</div>
		</AsideMenuItem>
		{
			!users ? (
				<p>not found</p>
			) : (
				users.map((user: any) => (
					<AsideMenuItem href={`chat/${user.chatId}`}>
						<img src={user.userImage} alt="imagen del usuario" />
						{user.username}
					</AsideMenuItem>
				))
			)
		}
	</Card>
</nav>
