---
const { game } = Astro.props
---

<a href={`/store/${game.AppID}`} title={"ir a la pagina de la tienda de " + game.Name}>
	<img
		src={game["Header image"]}
		alt={`Imagen del juego ${game.Name}`}
		class="aspect-video h-full w-full rounded-t-md"
		width="889"
		height="500"
		loading="eager"
		transition:name={`imagen-juego ${game.AppID}`}
	/>
	<div class="mt-2 flex justify-between px-2">
		<h4 transition:name={`nombre-juego ${game.AppID}`} class="truncate">
			{game.Name}
		</h4>
		<p transition:name={`game-score ${game.AppID}`}>{game["Metacritic score"]}</p>
	</div>
</a>
